
/* ////////////////
 Navbar and Footer
  ///////////////// */

.footer, .navbar {
  background-color: #500019;
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #621A30;
}


/* //////////////////////
  Home Page Main Content
  ////////////////////// */

.Home {
    background-image: url("../src/imgs/landing.jpg");
    background-size: cover;
    background-position: center;
    position: center;
    height: 1000px;
    margin-top: -25px;
    margin-left: -130px;
}

.home-overlay {
  background-color: rgba(0,0,0,.45);
  position: relative;
  height: 100%;
  width: 100%;
}

.home-text {
  color: white;
  font-size: 40px;
  font-weight: 400;
  height: 600px;
  width: 1800;
  padding-top: 350px;
  padding-left: 150px;
}


/*  /////////////////
  Menu Page Content
  /////////////////// */

.Menu {
  background-image: url("../src/imgs/landing.jpg");
  background-size: cover;
  background-position: center;
  position: center;
  height: 1000px;
}


.menu-overlay {
background-color: rgba(0,0,0,.5);
position: relative;
height: 100%;
width: 100%;
}

.menu-text {
  color: white;
  font-size: 40px;
  font-weight: 400;
  height: 550px;
  padding-top: 300px;
  padding-left: 30px;
}
